  <h2 class="lang">
    <a>Welcome to Shop</a>
  </h2>
  <div class="information">
    <img class="image_info" mat-card-image src="../../../assets/images/mac23.jpg" alt=""/>
    <h2 class="info">Mac<br>Ready for any tasks.</h2>
  </div>
  <div class="container">
    <mat-card class="example-card">
      <img class="image" mat-card-image src="../../../assets/images/mac.jpg" alt=""/>
    </mat-card>
    <mat-card class="example-card">
      <img class="image" mat-card-image src="../../../assets/images/macbook.jpeg" alt=""/>
    </mat-card>
    <mat-card class="example-card">
      <img class="image" mat-card-image src="../../../assets/images/mac3.jpg" alt=""/>
    </mat-card>
    <mat-card class="example-card">
      <img class="image" mat-card-image src="../../../assets/images/mac4.jpg" alt=""/>
    </mat-card>
</div>
